* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.logo {
  height: 50px;
  width: 50px;
  background-color: purple;
  border-radius: 50% 10% 50%;
  margin: 0 auto;
}

.red {
  width: 100%;

  background-color: red;
  flex: 2 1 auto;
  padding: 0.5em;
}
.red > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.green {
  width: 100%;
  display: grid;
  grid-template-rows: auto 40px;
  background-color: green;
  flex: 1 1 auto;
}
.green > picture {
  grid-row: 1/3;
  grid-column: 1/2;
}
.green img {
  width: 100%;
}
.green > button {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 70px;
  justify-self: center;
}

.media-boxes {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
  align-items: center;
  margin: 1em;
}
.yellow {
  width: 200px;
  height: 200px;
  background-color: gold;
  flex: 1 1 auto;
}
.blue {
  width: 100%;
  height: 100px;
  background-color: blue;
}
@media screen and (min-width: 500px) {
  .red > ul {
    flex-direction: row;
  }
  .media-boxes {
    flex-direction: row;
  }
  .yellow {
    width: 130px;
    height: 130px;
  }
}
